<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kanyakubjbrahminsamiti.akhil.wordgames">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/words"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.VERSION"
            android:value="25.3.1"
            tools:replace="android:value" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListOfGames"
            android:label="@string/title_activity_list_of_games"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultsPage"
            android:label="@string/title_activity_results_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SoloGameModuleTwo"
            android:label="@string/title_activity_solo_game_module_two"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service_server"
            android:enabled="true" />
        <service
            android:name=".service_client"
            android:enabled="true" />

        <activity
            android:name=".ActivityGameTwo"
            android:label="@string/title_activity_game_two"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityMainTwo"
            android:label="@string/title_activity_main_two"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityGameThree"
            android:label="@string/title_activity_game_three"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityMainThree"
            android:label="@string/title_activity_main_three"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatMplyTwoPlayers"
            android:label="@string/title_activity_chat_mply_two_players"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MultiplayForHostJoin"
            android:label="@string/title_activity_multiplay_for_host_join"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>